@media only screen and(max-width : 370px){
html{ width: fit-content;}}

body{height: 100%;
background-color: rgba(255, 255, 255, 0.945) !important
};
.XZZ{padding: .75rem 0.4rem !important; list-style-type: none !important;}
.btn-danger{
    float: right !important;
    margin-top: -7px !important;
}.btn-warning{
    float: right !important;
    margin-top: -7px !important;
    margin-right: 4px;
}
ul{list-style: none !important;}
.fos{width: 113% !important;
    font-family: 'Grenze Gotisch', cursive;
font-size: 4rem;
}
.main{border: 1px solid transparent !important;
    width: 400px !important;
    /* height: 540px; */
    margin-left: 27%;
    margin-top: 3%;
}
.alert{
    margin-left: -50px;
    width: 387px;
}
.abc{
    margin: 5px 52px;
}
#sizz{
    margin-top: 20px;
    border-width: 90%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
border-radius: 2px;
border-bottom: 3px solid grey;
}
#sizz:focus{
    margin-top: 20px;
    border-width: 90%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
border-radius: 2px;
border-bottom: 3px solid rgb(0, 0, 0);
}

.enter{margin-left: 7px;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    
}
.err{
  padding: 5px;
        float: left;
        margin-left: 17px;
        margin-top: -35px;
        position: relative;
        z-index: 2;
        color: red;
font-weight: 20px;
    }

    .ass{
background-color: white;

    }

  .form-control:focus {
    border-color: rgb(142, 142, 146) !important;
    box-shadow: 0 0 5px rgb(142, 142, 146) !important;
  }
